<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scratch-python数据开放平台</title>
</head>
<body>
<label><a href="/FinalDataSetModel/test2">学生StudentModel</a></label><br>
<label><a href="/FinalDataSetModel/test3">教师TeacherModel</a></label><br>
<label><a href="/FinalDataSetModel/test6">作品ProductionModel</a></label><br>
<label><a href="/FinalDataSetModel/test7">静态数据ProductionModelSb2Profile(staticData)</a></label><br>
<label><a href="/FinalDataSetModel/test">计算思维CTModel</a></label><br>
<label><a href="/FinalDataSetModel/test4">知识KnowModel-course</a></label><br>
<label><a href="/FinalDataSetModel/test5">知识KnowModel-chapter</a></label><br>
<label><a href="/FinalDataSetModel/test1">学习行为LearnModel</a></label><br>
<label><a href="/FinalDataSetModel/test8">过程数据（块）ProcessModel-block</a></label><br>
<label><a href="/FinalDataSetModel/test9">过程数据（角色）ProcessModel-sprite</a></label><br>
<label><a href="/FinalDataSetModel/test10" >过程数据（资源：声音，背景，造型）ProcessModel-backdrop/sound/costume</a></label><br>
</body>
</html>